# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

.idea
venv
.coverage
preview.log
__pycache__
Dockerfile
package/carbonio-preview-ce.tar.xz
scratch.py
LICENSES
app/core/resources/config.ini
app/core/resources/messages.ini