# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

*.deb
*.rpm
.coverage
.idea
Dockerfile
LICENSES
__pycache__
app/core/resources/config.ini
app/core/resources/messages.ini
artifacts
build/
carbonio_preview_ce.egg-info/
package/carbonio-preview-ce.tar.xz
preview.log
scratch.py
venv
