# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com
#
# SPDX-License-Identifier: AGPL-3.0-only

repos:
-   repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.2.0
    hooks:
    -   id: conventional-pre-commit
        stages: [commit-msg]
        args: []

-   repo: https://github.com/python/black.git
    rev: 23.3.0
    hooks:
      - id: black

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
        - id: mypy
          exclude: ^tests/
          additional_dependencies:
              - "pydantic"
              - "returns"
              - "types-Pillow"

-   repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
    -   id: bandit
        args: [ -c, "pyproject.toml" ]
        additional_dependencies: [ "bandit[toml]" ]


-   repo: https://github.com/pyCQA/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      args: [--toml-config, "pyproject.toml"]
      additional_dependencies: [Flake8-pyproject]

-   repo: https://github.com/fsfe/reuse-tool
    rev: v1.1.2
    hooks:
        - id: reuse

-   repo: local
    hooks:
    -   id: pytest-check
        name: pytest-check
        entry: python3 -m pytest
        language: python
        additional_dependencies: [
            python-multipart, FastAPI, httpx, uvicorn, gunicorn, Pillow, pdfrw,
            respx, psutil, pypdfium2, pytest, pytest-mockito, returns
        ]
        'types': [python]
        pass_filenames: false
        stages: [commit]