# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com
#
# SPDX-License-Identifier: AGPL-3.0-only

-r requirements.txt

black~=24.2.0
ruff~=0.2.2
pre-commit~=3.6.1

respx~=0.20.2

pytest~=8.0.2
pytest-mockito~=0.0.4

types-Pillow~=10.2.0.20240213
