# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com
#
# SPDX-License-Identifier: AGPL-3.0-only

-r requirements.txt

black~=23.9.1
ruff~=0.0.290
pre-commit~=3.4.0

respx~=0.20.2

pytest~=7.4.2
pytest-mockito~=0.0.4

types-Pillow~=10.0.0.3
