# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com
#
# SPDX-License-Identifier: AGPL-3.0-only

-r requirements.txt

black~=23.3.0
flake8~=6.0.0
Flake8-pyproject~=1.2.2
bandit~=1.7.4
pre-commit~=3.3.2

responses~=0.23.1

pytest~=7.3.1
pytest-mockito~=0.0.4
