# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com
#
# SPDX-License-Identifier: AGPL-3.0-only

FastAPI~=0.138.0

pydantic>=2.10.6

# 0.23.0 cannot be used since they drop support for ubuntu20.04
# 0.24.0 cannot be used since they drop support for python3.9
returns~=0.22.0

# 0.34.0 cannot be used since they drop support for python3.8
uvicorn~=0.33.0
gunicorn~=23.0.0

httpx~=0.28.1

# 11.x cannot be used since they drop support for python3.8
Pillow~=10.4.0
pypdfium2~=4.30.0

psutil==7.0.0

python-multipart==0.0.20

CairoSVG==2.7.1
