# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com
#
# SPDX-License-Identifier: AGPL-3.0-only

FastAPI~=0.75.0

uvicorn~=0.17.0
gunicorn~=20.1.0

requests~=2.27.1

Pillow~=9.0.0
pdfrw~=0.4
pypdfium2~=2.5.0

unoserver==1.2
psutil==5.9.0

python-multipart
