# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com
#
# SPDX-License-Identifier: AGPL-3.0-only

FastAPI~=0.109.2

pydantic>=2.6.1
returns~=0.22.0

uvicorn~=0.27.1
gunicorn~=21.2.0

httpx~=0.26.0

Pillow~=10.2.0
pypdfium2~=4.27.0

psutil==5.9.8

python-multipart==0.0.9
