# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com
#
# SPDX-License-Identifier: AGPL-3.0-only

[Unit]
Description=Carbonio Preview daemon
Documentation=https://docs.zextras.com/zextras-suite-documentation/latest/
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart= /usr/bin/carbonio-preview-start.sh
User=carbonio-preview
Group=carbonio-preview
Restart=on-failure
RestartSec=15
TimeoutSec=120
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
